body {
  background-color: #f0f8ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 60px;
}

.card {
  border-radius: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
