{% extends "base.html" %}

{% block title %}Weather - Home{% endblock %}

{% block content %}
<div class="card">
  <h2>Weather Search</h2>
  <form method="POST" action="{{ url_for('weather') }}">
    <input type="text" name="city" placeholder="Enter City" required>
    <button type="submit" class="btn">Search</button>
  </form>

  {% if weather %}
  <div style="margin-top:20px; text-align:center;">
    {% if weather.icon_url %}
      <img src="{{ weather.icon_url }}" alt="Weather icon" style="width:100px; height:100px;">
    {% endif %}
    <p>Temperature: <strong>{{ weather.temperature }} °C</strong></p>
    <p>Humidity: <strong>{{ weather.humidity }}%</strong></p>
    <p>Wind Speed: <strong>{{ weather.wind_speed }} m/s</strong></p>
    <p>Condition: <strong>{{ weather.condition }}</strong></p>
  </div>
{% endif %}

</div>
{% endblock %}
